@CHARSET "ISO-8859-1";

#top {
		position:fixed;
		vertical-align: top;
		background-color:#e6f2ff;
		height:3em;
		width:100%;
		z-index:100;
		left:0;
		top:0;
		padding:1px;
		padding-left:1.5em;

	}
		.left {
		position:fixed;
		left: 4px;
		top: 3em;
		width:145px;	
		background-color:#ffffb3;
		padding-left:1.5em;
	}
		#content {
		top: 3em;
		position:relative;
		margin-left: 165px;
		padding:5px;
	}
		#bottom {
		position:absolute;
		top: 3em;
		position:relative;
		margin-left: 165px;
		padding:5px;
	}