<!-- Container: Got margin and stuff, Container-fluid: fill screen -->
<div class="container-fluid">
	<h3 class="text-center">Welcome to AwesomeChat {{name}}!</h3>
	<div class="row row-eq-height">
		<div class="col-md-4 col-xs-4 col-sm-4 col-md-offset-3 col-xs-offset-3 col-sm-offset-3" style="margin-right:0;padding-right: 0;display:flex;">
			<div class="containerLayout chatContainer" style="padding-right: 0;margin-right: 0;">
				<h6 style="top:0;"class="text-center header-text">Talking in {{room}}</h6>
				<div class="chatBox">
					<div ng-repeat="message in messages" >
						{{message.room}}:{{message.user}}: {{message.message}}
					</div>
				</div>
				<div class="form-group" style="">
					<form class="input-group" ng-submit="sendMessage()">
			      		<input class="form-control" type="text" ng-model="message" autocomplete="off" />
			      		<span class="input-group-btn"> 
				      		<button class="btn btn-primary" type="submit" style="margin-left:2;">Send</button>
		    		  	</span>
				    </form>
				</div>	
			</div>
		</div>
		<div class="col-md-2 col-xs-2 col-sm-2 col-md-offset-7 col-sm-offset-7 col-xs-offset-7" style="margin-left:0;padding-left: 0;display:flex;flex-wrap: wrap;">
			<div class="containerLayout chatContainer" style="margin-left: 3;padding-left: 0; top:0; bottom:0;display:flex; flex:1;flex-direction:column;">
				<div style="width:100%;">
					<h6 class="text-center header-text">Friends Online</h6>
					<h6>--Search Function--</h6>
				</div>
				<div class="chatBox" style="padding:0;bottom:0;">
					<p>Some friend</p>
					<table>
						<tr ng-repeat="friends in friendsList">
							<td>{{friends}}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<!--  
	<div ng-style="{'height': 'calc(100% - '+height+'px)'}" id="chat">
		<h3>Welcome {{name}}!</h3>
		<h3>Talking in {{room}}</h3>
		<div ng-repeat="message in messages" >{{message.room}}:{{message.user}}: {{message.message}}
		</div>
	</div>
	<div my-directive id="chatController" style="position:absolute;right:0;bottom:0;width:100%;">
		<div style="position:relative;">
			<div style="position:absolute;right:0;bottom:0;background:red;">
			<table>

				<tr ng-repeat="friends in friendsList"  >
					<td>{{friends}}</td>
				</tr>
			</table>
			</div>
		</div>
		<div>
			<form class="message" ng-submit="sendMessage()">
		      <input class="message" type="text" ng-model="message" autocomplete="off" />
		      <button ng-click="myStyle={'background':'blue'}" class="message">Send</button>
		    </form>
		</div>
	</div>
	-->