<!-- Insert Chat UI Here -->
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<div id="chatContainer">
	<div ng-style="{'height': 'calc(100% - '+height+'px)'}" id="chat">
		<h3>Welcome {{name}}!</h3>
		<h3>Talking in {{room}}</h3>
		<div ng-repeat="message in messages" >{{message.room}}:{{message.user}}: {{message.message}}
		</div>
	</div>
	<div my-directive id="chatController" style="position:absolute;right:0;bottom:0;width:100%;">
		<div style="position:relative;">
			<div style="position:absolute;right:0;bottom:0;background:red;">
			<table>
				<tr ng-repeat="friends in friendsList">
					<td>{{friends.status}}</td>
					<td>{{friends.name}}</td>
				</tr>
			</table>
			</div>
		</div>
		<div>
			<form class="message" ng-submit="sendMessage()">
		      <input class="message" type="text" ng-model="message" autocomplete="off" />
		      <button ng-click="myStyle={'background':'blue'}" class="message">Send</button>
		    </form>
		</div>
	</div>
</div>