<!DOCTYPE html>
<html ng-app="myApp">
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script type="text/javascript" src="script.js"></script>
    <script type="text/javascript" src="../node_modules/socket.io-client/dist/socket.io.js"></script>
    <script type="text/javascript" src="../bower_components/angular-socket-io/socket.js"></script>
  </head>
  <body ng-controller="mainCtrl">
    <form name="loginForm" ng-controller="loginController"
	      ng-submit="login(credentials)" novalidate>
	
	  <label for="username">Username:</label>
	  <input type="text" id="username"
	         ng-model="credentials.username">
	
	  <label for="password">Password:</label>
	  <input type="password" id="password"
	         ng-model="credentials.password">
	
	  <button type="submit">Login</button>
	
	
	</form>
	<!-- 
	<div ng-view></div>
	-->
  </body>
</html>