@CHARSET "ISO-8859-1";

* { margin: 0; padding: 0; box-sizing: border-box; }
body.message { font: 13px Helvetica, Arial; }
form.message { background: #000; padding: 3px; bottom: 0; width: 100%; }
form input.message { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
form button.message { width: 8.8%; background: rgb(130, 224, 255); border: none; padding: 10px; }
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }
#chatContainer {background: green; bottom:0; top:0; height:100%; position:relative;}
#chat {width: 100%; top:0; overflow:scroll; overflow-x:hidden; position:absolute;}
#friends {float: right; background: red; width:14%; position:absolute; bottom: 0; right:0;}